@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
body{
  background-color: #ff8;
}
.carousel-item{
  min-height: 450px;
}
.nav-link{
  text-transform: uppercase;
  font-weight: 600;
}
#our_rjs
{
  margin-top: 250px;
}
.custom-img{
 margin-top: -75px;
 
}
.contact {
  padding-top:200px;
  align-items: center; 
}
.card{
  margin-top: 30px;
  background-color: #6e6e6e;
}
.carousel-control-prev-icon {
background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}
.carousel-control-next-icon{
background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
} 
.carousel-indicators .active {
  background-color: black;
}
.img-wrap img{
  width: 100%;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px #000;
}
#aboutus h2{
  margin-bottom: 30px;
}
#aboutus {
  padding-top: 125px;
}
.lead {
  font-weight: 400;
}